@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

.gradient {
  background: linear-gradient(90deg, rgb(26, 180, 209), rgb(62, 144, 238));
}

.search {
  background: url("@/../assets/search.svg") no-repeat 5% 50% #33363d;
}

.mail {
  background: url("@/../assets/mail.svg") no-repeat 5% 50% #33363d;
}

.password {
  background: url("@/../assets/key.svg") no-repeat 5% 50% #33363d;
}

.men {
  background: url("@/../assets/men.svg") no-repeat 5% 50% #33363d;
}

.bg-transparent {
  background: rgba(38, 41, 47, 0.7);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff6d7f;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #212529;
  border-radius: 10px;
  background-color: #212529;
}
